<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <title></title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'index' %}">BRAND</a></li>
                    <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:other' %}">Other</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:relative' %}">Relative</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}
            <!-- Anything outside of this will be inherited when you extend base.html -->
            {% endblock %}
        </div>
    </body>
</html>
